<p id="notice"><%= notice %></p>

<h1>Ajankohtaista</h1>

<table class = "table table-responsive">

  <tbody>
    <% @newsitems.each do |newsitem| %>
      <tr>
        <td><%= newsitem.name %></td>
        <td><%= newsitem.content %></td>
        <td><%= link_to 'Näytä', newsitem %></td>
        <td><%= link_to 'Muokkaa', edit_newsitem_path(newsitem) %></td>
        <td><%= link_to 'Poista', newsitem, method: :delete, data: { confirm: 'Oletko varma? Et voi peruuttaa toimintoa.' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Newsitem', new_newsitem_path %>
