<p id="notice"><%= notice %></p>

<h1>Edustajasi Mikkelissä</h1>




<article>
  <section><header>
    <h1>Edustajat</h1>

    <p>Edustajasi Mikkelissä:</p>
  </header></section>


  <% @users.each do |user| %>
  <section id="esittely" class="section-custom">
    <h1><%= user.username %></h1>

    <p>
      <figure>
        <%= image_tag user.img_tag %>
        <figcaption><%= user.username%></figcaption>
      </figure>
      <%= user.description %>

    </p>
  </section>
  </article>

  <% end %>

<br>